RewriteEngine On

RewriteRule ^$ index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^services$ pages/services.php [L]
RewriteRule ^about-us$ pages/about.php [L]
RewriteRule ^doctors$ pages/doctors.php [L]
RewriteRule ^our-team$ pages/our_team.php [L]
RewriteRule ^contact$ pages/contact.php [L]
RewriteRule ^login$ login.php [L]

