RewriteEngine On


RewriteRule ^doctor-add$ doctor-add.php [L]
RewriteRule ^doctors/list$ doctors.php [L]
RewriteRule ^facilities$ facilities.php [L]
RewriteRule ^feedback$ feedback.php [L]
RewriteRule ^profile$ profile.php [L]
RewriteRule ^beds$ beds.php [L]
RewriteRule ^blood-banks$ blood-banks.php [L]
RewriteRule ^labs$ labs.php [L]
RewriteRule ^doctor-detail$ doctor-detail.php [L]
RewriteRule ^recycle$ recycle.php [L]





